name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # Roda todo dia à meia-noite
  workflow_dispatch: # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: gustavoobezerra
          # AQUI ESTÁ A MUDANÇA: Definindo uma paleta personalizada
          # O primeiro código (#0d1117) é a cor dos quadrados vazios (fundo super escuro)
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=#0d1117,#0e4429,#006d32,#26a641,#39d353

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
